<header class="header">
    <div class="logo">
        <a href="/">
            <img src="/src/logoKTTO.png" alt="Логотип КТТО">
        </a>
    </div>
    <nav class="nav">
        <a href="/">Главная</a>

        <div class="dropdown">
            <a href="/about">О нас ▾</a>
            <div class="dropdown-menu">
                <a href="/about">История и традиции</a>
                <a href="/about">Руководство</a>
                <a href="/about">Достижения</a>
                <a href="/about">Документы</a>
                <a href="/about">Лицензии</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="/admission">Поступление ▾</a>
            <div class="dropdown-menu">
                <a href="/admission">Условия поступления</a>
                <a href="/admission">Документы</a>
                <a href="/admission">Специальности</a>
                <a href="/apply">Подать заявку</a>
                <a href="/admission">Проходные баллы</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="/students">Студентам ▾</a>
            <div class="dropdown-menu">
                <a href="/students">Расписание</a>
                <a href="/students">Стипендии</a>
                <a href="/students">Общежитие</a>
                <a href="/students">Практика</a>
                <a href="/students">Библиотека</a>
                <a href="/students">Внеучебная деятельность</a>
            </div>
        </div>

        <a href="/contacts" class="sved-link">Контакты</a>
    </nav>
</header>