annotated-doc
annotated-types
anyio
click
colorama
fastapi
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
pydantic
pydantic_core
python-multipart
sqladmin
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
WTForms
